@media print {
	@page {
		size: auto;
		margin: 15mm 10mm 15mm 10mm;
	}
	body {
		color: black;
		background-color: white;
		overflow-y: auto;
		height: auto;
		margin: 0;
	}
	button,
	input[type="button"],
	input[type="submit"] {
		display: none;
	}

	#wrapper {
		display: block;
		overflow-y: auto;
		height: auto;
	}

	#header {
		flex: none;
		display: none;
	}

	#body {
		overflow-y: auto;
		width: 100%;
		flex: none;
	}

	#navigation {
		background: darkgray;
	}

	#navigation li.selected a {
		color: black;
	}

	#logged_in_user {
		display: none;
	}

	table {
		max-width: 100%;
	}

	table, th, td {
		background-color: white;
		border-color: darkgray;
	}

	.up_down_button {
		display: none;
	}

	.th_control, .td_control {
		display: none;
	}

	a {
		color: black;
	}

	img {
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
	}

	.uzenet,
	.hibaUzenet {
		background-color: white;
		border-color: black;
	}
}