*{ margin:0; padding:0; }
html, body {
	height: 100%;
	margin: 0;
}
body {
	background-color: #F0F1F1;
	background-image: url(../images/body_bg.jpg);
	background-repeat: repeat-x;
	text-align: center;
	overflow: hidden;
}

body, div, a, h3, h2, h1, span {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
h2,h1 {
	font-size: 14px;
}

#wrapper {
	/* width: 1170px; */
	width: 100%;
	margin: auto;
	text-align: left;
	display: flex;
	flex-flow: column;
	height: 100%;
	overflow-y: hidden;
	background-color: #FFFFFF;
}

#topbar {
	background-color: #404040;
	border: 1px solid #FFFFFF;
	border-top: 0px;
	padding: 10px;
	padding-left: 20px;
	color: #FFFFFF;
}

#header {
	/* border: 1px solid #FFFFFF;
	border-top: 0px;
	background-color: #C20000;
	position: relative; */
	width: 100%;
	/* height: 21px;
	position: fixed; */
	flex: 0 1 auto;
	border: none;
	z-index: 1;
}

#logo {
	position: absolute;
	top: 38px;
	left: 24px;
	background-image: url(../images/logo.jpg);
	background-repeat: no-repeat;
	margin: 0;
	padding-top: 0px;
	padding-left: 72px;
	height: 43px;
	font-size: 21px;
	color: #FFFFFF;
}

#logo span {
	margin-left: 3px;
	color: #EDB3B3;
	padding: 0;
	margin: 0;
	display: block;
}

#navigation {
	text-align: center;
	max-width: 100%;
	margin: auto;
	background: -webkit-linear-gradient(#B00000 0%, #C20000 50%, #D00000 70%, #EE0000 100%);
}

#navigation li {
	display: inline-block;
	list-style: none;
	/* margin: 0 3px; */
	margin: 0 2px;
	text-align: center;
	font-weight: bold;
}

#navigation li a {
	display: block;
	/* padding: 7px 10px 8px 10px; */
	padding: 3px 8px 6px 8px;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	/* border-radius: 5px 5px 0 0; */
	transition: .3s ease-out, color .1s ease-in;
}

#navigation li.selected a,
#navigation li a:hover {
	border-radius: 0;
}

#navigation li a:hover {
	color: #C20000;
	text-decoration: underline;
	background-color: #fff;
	/* border-radius: 5px 5px 0 0; */
}

#navigation li.selected a {
	color: #C20000;
	background-color: #fff;
	/* border-radius: 5px 5px 0 0; */
}
#navigation ul {
	list-style-type: none;
	padding-top: 5px;
}

#logged_in_user {
	/* position: absolute;
	right: 0;
	top: 21px; */
	float: right;
	border: 2px darkgray dashed;
	padding: 5px;
	border-bottom-left-radius: 5px;
	border-top: none;
	border-right: none;
	background-color: white;
	text-align: right;
}

#logged_in_user .logged_in_as_caption,
#logged_in_user .logged_in_as_name {
	display: inline-block;
	font-style: italic;
}

#logged_in_user .logged_in_as_caption {
	padding-left: 2px;
}

#logged_in_user .logout_link {
	display: inline-block;
	padding-right: 2px;
	padding-left: 7px;
}

#logged_in_user .logout_link a {
	font-size: 12px;
}

#body {
	background-color: #FFFFFF;
	/* padding-top: 25px; */
	/* min-height: 400px; */
	padding-bottom: 40px;
	flex: 1 1 auto;
	overflow-y: scroll;
}

#leftmenu {
	float: left;
	background-color: #F4F2E6;
	width: 213px;
	margin-left: 25px;
	margin-bottom: 25px;
}

#leftmenu p {
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #918E7F;
}

#leftmenu blockquote {
	margin-left: 20px;
}

#footer {
	border-top: 1px solid #D7D7D7;
	margin: 2px;
	padding-top: 18px;
	padding-bottom: 10px;
	text-align: center;
	background-color: #FFFFFF;
	color: #918E7F;
}

#footer a {
	color: #918E7F;
	text-decoration: none;
	margin-bottom: 7px;
}

#footer a:hover {
	text-decoration: underline;
}

#footer span a {
	text-decoration: underline;
}

#footer p {
	color: #000000;
	margin-top: 10px;
}

.clear
{
	clear: left;
}

.right
{
	float: right;
	margin-right: 20px;
	text-align: right;
	color: #918E7F;
}

#quotestart
{
	padding-top: 20px;
	background-repeat: no-repeat;
	background-position: bottom;
	margin-left: 14px;
	width: 34px;
	height: 25px;
}

#quoteend
{
	padding-top: 20px;
	float: right;
	background-repeat: no-repeat;
	background-position: bottom;
	margin-left: 14px;
	margin-right: 20px;
	width: 34px;
	height: 25px;
}

.seperator
{
	padding-top: 25px;
	border-bottom: 1px solid #CCCADB;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
}

.form
{
	margin-left: 13px;
	margin-right: 15px;
	color: #918E7F;
}

#leftmenu h3
{
	color: #000000;
	font-size: 14px;
	margin-bottom: 5px;
}

.form label
{
	color: #000000;
	display: block;
	margin-left: 2px;
	margin-bottom: 3px;
}

.form input, textarea
{
	background-color: #FFFFFF;
	border: 1px solid #BBB9AB;
	width: 175px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	color: #737272;
	margin-bottom: 10px;
}

input::placeholder,
textarea::placeholder {
	color: #B5B2B2;
}

.send_button
{
	border: 0;
	display: block;
	background-image: url(../images/send_button.jpg);
	width: 79px;
	text-align: center;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-top: 7px;
	padding-bottom: 11px;
	float: right;
	margin-bottom: 25px;
}

#content a
{
	color: #918E7F;
	text-decoration: none;
	margin-bottom: 7px;
}

#content a:hover
{
	text-decoration: underline;
}

#content
{
	margin-left: 280px;
	margin-right: 25px;
}

#content h2
{
	font-size: 18px;
	color: #5D5D5D;
}

#content p
{
	color: #918E7F;
	padding-top: 20px;
	padding-bottom: 35px;
}

textarea{
	width: 100%;
	height: 7.7em;
	padding: 3px 5px;
	text-align: justify;
	margin: 0;
}

.hibaUzenet{
	border: 2px solid #C20000;
	padding: 10px;
	margin: 40px 120px;
	background-color: #FFFF77;
	font-size: 18pt;
}
.uzenet{
	border: 2px solid #00C200;
	padding: 10px;
	margin: 20px 120px;
	background-color: #FFFF77;
	font-size: 18pt;
}
input[type="image"],
a img[width="30"],
img[onclick*="printVoucherEditForm"]{
	transition: opacity .3s ease-in-out;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
}

input[type="image"]:hover,
input[type="image"]:focus,
a img[width="30"]:hover,
a img[width="30"]:focus,
img[onclick*="printVoucherEditForm"]:hover,
img[onclick*="printVoucherEditForm"]:focus{
	opacity: 0.7;
	border: 2px solid #005500;
	width: 26px;
	height: 26px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

/* table style */

/* old style */
/* table, th, td{
	border: 1px solid #FFCC00;
	background-color: #FFFFCC;
} */
table {
	border-spacing: 1px;
	border-collapse: separate;
	max-width: 1150px;
}
/* th {
	padding: 2px;
} */
.th_control,
.td_control {
	width: 26px;
}
/* end of old style */

table {
	border: none;
	border-right: 1px solid rgba(255, 204, 0, 0.72);
	border-bottom: 1px solid rgba(255, 204, 0, 0.72);
}

th,
td {
	padding: 3px 5px;
	border: none;
	border-left: 1px solid rgba(255, 204, 0, 0.72);
	border-top: 1px solid rgba(255, 204, 0, 0.72);
}

table, th, td {
	background-color: rgba(255, 255, 204, 0.45);
}

.th_control,
.td_control {
	padding: 0;
}


#login{
	position: absolute;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#login .hibaUzenet {
	margin-bottom: 30px;
}

#login table, #login th, #login td{
	border: none;
	border-spacing: 5px;
	background-color: #FFFFFF;
}

/* one-line textarea instead of text input fields */

.textarea_singleline {
	height: 19px;
	resize: none;
	white-space: nowrap;
	overflow-x: hidden;
	width: 100%;
	border-width: 1px;
	border-top-color: rgb(169,169,169);
	border-left-color: rgb(169,169,169);
	border-bottom-color: rgb(169,169,169);
	border-right-color: rgb(169,169,169);
	border-style: solid;
	color: black;
	/* box-sizing: border-box; */
	padding: 1px;
	text-indent: 0px;
	/* vertical-align: middle; */
	font-family: Arial;
	font-size: 13.3333px;
	text-align: start;
	flex-direction: initial;
	-webkit-appearance: textfield;
}

/* disabled input common style */
input[disabled],
textarea[disabled] {
	color: #6b586a;
	background-color: #ebebe4;
	border-color: darkgrey;
	border-width: 1px;
	border-style: solid;
}

input[type="number"][disabled] {
	padding: 1px;
}

/* dropdown, dropdown menu */

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown_content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
}

.dropdown:hover .dropdown_content {
	display: block;
}

.dropdown_menu {
	background: -webkit-linear-gradient(#EE0000 0%, #FA0000 50%, #FA0000 70%, #EE0000 100%);
	min-width: initial;
	padding: 0;
	top: 18px;
	border-radius: 0 0 5px 5px;
}

#navigation .dropdown span {
	color: #FFFFFF;
	font-size: 11px;
    text-decoration: none;
	padding: 3px 8px 6px 8px;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#navigation .dropdown_menu ul {
	padding: 0;
}

#navigation .dropdown_menu li {
	display: block;
	margin: 3px 2px;
}

#navigation .dropdown_menu ul li:first-child {
	margin-top: 0;
}

/* #navigation .dropdown:hover a {
	color: #C20000;
	text-decoration: underline;
	background-color: #fff;
	border-radius: 0;
} */

#navigation .dropdown:hover ul li a {
	border-radius: 0;
	transition: .3s ease-out, color .1s ease-in;
}

/* background coloured td */
.td_control {
	position: relative;
}
.zold,
.zold_form {
	background-color: #005500;
}

.sarga,
.sarga_form {
	background-color: #FFFF77;
}

.voros,
.voros_form {
	background-color: #550000;
}

.zold_form,
.sarga_form,
.voros_form {
	position: absolute;
	height: 100%;
	top: 0;
}

.zold,
.sarga,
.voros {
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
}

/* accordion */
.accordion {
	display: inline;
}
.accordion_button {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 1px 8px;
	text-align: left;
	border: 2px #CC0000 solid;
	outline: none;
	border-radius: 5px;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

button.accordion_button:after {
	content: "\02795"; /* Unicode character for "plus" sign (+) */
	font-size: 13px;
	color: #777;
	float: right;
	margin-left: 5px;
}

button.accordion_button.active:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.accordion_button.active, .accordion_button:hover {
	background-color: #ddd;
}

.accordion_panel {
	padding: 0 18px;
	/* display: none; */
	overflow: hidden;
	max-height: 0;
	text-align: right;
	margin-right: 5px;
	-webkit-transition: max-height 0.2s ease-out;
	-moz-transition: max-height 0.2s ease-out;
	-ms-transition: max-height 0.2s ease-out;
	-o-transition: max-height 0.2s ease-out;
	transition: max-height 0.2s ease-out;
}

/* order */
.up_down_button {
	display: inline-block;
}

.order_asc,
.order_desc {
	width: 25px;
	height: 14px;
	border: none;
	background-color: transparent;
	outline: none;
	position: relative;
	display: block;
	overflow: hidden;
	cursor: pointer;
}

.order_desc {
	margin-top: 1px;
}

.order_asc svg,
.order_desc svg {
	width: 25px;
	height: 30px;
}

.order_desc svg {
	position: absolute;
	top: -14px;
	left: 0;
}

/* filter */
.filter_div {
	padding: 0 30px;
	margin: 20px;
}

.filter_field_div {
	border: 2px dashed #FFCC00;
	padding: 23px 20px 15px;
	border-radius: 10px;
	position: relative;
}

.filter_title_div {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px 8px 5px 9px;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 3px;
	border-bottom: 1px;
	border-right: 1px;
	border-style: solid;
	border-top: none;
	border-left: none;
	background-color: #FFFFCC;
	color: #AA0000;
	border-color: #FFCC00;
}

.filter_chks_div {
	text-align: justify;
}

.filter_chk_div {
	display: inline-block;
	padding: 5px;
	padding-left: 7px;
}

.filter_chk_divider {
	font-size: 20px;
	vertical-align: 5px;
	color: #DDD;
}

.filter_chk_input {
	width: 20px;
	height: 20px;
}

.filter_chk_label {
	vertical-align: 6px;
	padding-left: 5px;
}

/* required star */
.kotelezo_csillag {
	color: red;
	padding: 0 1px;
	vertical-align: top;
	font-family: Verdana;
	font-size: 14px;
}

/* ajaxForm */
.ajaxFormInputsDiv,
.ajaxFormSaveDiv {
	display: inline-block;
	vertical-align: middle;
}

.ajaxFormSaveDiv {
	margin-left: 5px;
}