#modal-overlay {
	background: #000;
	filter: alpha(opacity=50);
	height: 100%;
	left: 0;
	-moz-opacity: 0.5;
	-webkit-opacity: 0.5;
	-ms-filter: alpha(opacity=50);
	opacity: 0.5;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 998;
}

#modal-container {
	background: #fff;
	border: 1px solid #ababab;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
	height: auto;
	padding: 5px;
	font-family: arial,sans-serif;
	font-size: 14px;
	position: fixed;
	z-index: 998;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#modal-header {
	height: 22px;
	overflow: hidden;
	clear: both;
	margin-bottom: 4px;
	border-bottom: 1px #757575 solid;
	box-shadow: 0px 6px 5px -3px #EEE;
}

#modal-close {
	background: url('../images/jsmodal/modal-close.png') no-repeat center center;
	background-size: cover;
	cursor: pointer;
	display: block;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	-webkit-opacity: 0.6;
	-ms-filter: alpha(opacity=60);
	opacity: 0.6;
	height: 15px;
	width: 15px;
	position: absolute;
	right: 5px;
	top: 6px;
}
#modal-close:hover {
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
	-webkit-opacity: 1.0;
	-ms-filter: alpha(opacity=100);
	opacity: 1.0;
}

#modal-content {
	display: block;
	/* padding: 0 20px 10px 20px; */
	padding: 6px;
	z-index: 999;
	max-height: calc(100vh - 52px);
}

#modal-container.modal-loading {
	background: #fff url('../images/jsmodal/loading.gif') no-repeat center center;
}

.modal-title {
	text-align: left;
	padding-top: 2px;
	padding-left: 4px;
	font-size: 12px;
	font-weight: bold;
	color: #757575;
}